{% extends 'base.html.twig' %}

{% block title %}Edit Greenhouse{% endblock %}

{% block body %}
    <h1>Edit Greenhouse</h1>

    {{ include('greenhouse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_greenhouse_index') }}">back to list</a>

    {{ include('greenhouse/_delete_form.html.twig') }}
{% endblock %}
