{# templates/booking/calendar.html.twig #}
{% extends 'admin_base.html.twig' %}

{% block body %}
    <a href="{{ path('app_booking_new') }}">Ajouter une réservation</a>

    <div id="calendar-holder"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>
    <script src='fullcalendar/core/locales/fr.js'></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                firstDay: 1,
                buttonText: {
                            today:    'Aujourd\'hui',
                            month:    'Mois',
                            week:     'Semaine',
                            day:      'Jour',
                            list:     'Liste'
                            },
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                timeZone: 'UTC',
                displayEventTime: false,
            });
            calendar.render();
        });
    </script>
{% endblock %}