@import url("https://fonts.googleapis.com/css?family=Lilita+One");
@import url("https://fonts.googleapis.com/css?family=Cherry+Bomb+One");
@import url("https://fonts.googleapis.com/css?family=Rock+3D");
@import url("https://fonts.googleapis.com/css?family=Coiny");

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


body {
  background: #fef4ebff;
}

.logo{
    margin-right: 20vw;
    font-family: "Coiny";
    font-size: 3rem;
    color: #09c684;

}

.logo:hover{
    color: #eb5c40;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fef4ebff;
  text-decoration: none;
  font-family: "Lilita One";
  font-size: 1.5rem;
}

/* Layout */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 4rem;
  flex-wrap: nowrap;
}

nav li {
    display: inline-block;
    margin: 0 3vw;
  }

/* Underline styles */
nav a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

/* Fade in */
nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #eb5c40;
  transition:  300ms, transform 300ms;
  opacity:1;
  transform: translate3d(-100%, 0, 0);
}

nav a:hover::after,
nav a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.nav-link{
  margin: 0 3vw;
  font-family: "Roboto";
  font-size: 1.5rem;
  color: #eb5c40 !important;
  font-weight: 700 !important;
}

.background{
  width: 100%;
  filter:brightness(0.4);
}

.background-container{
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.welcome{
  position: absolute;
  top: 20rem;
  left: 13rem;
  width: 70%;
  padding: 10px;
  font-family: "Lilita One";
  font-size: 3.5rem;
  z-index: 1;
  color: #fef4ebff;
}

.typed{
  position: absolute;
  top: 28rem;
  left: 13rem;
  width: 70%;
  padding: 10px;
  font-family: "Lilita One";
  font-size: 2.5rem;
  z-index: 1;
  color: #fef4ebff;
}


.cards{
  margin-top: 105vh;
}

.footer{
  background-color: #eb5c40;
}

.footer-title{
  font-family: "Roboto";
  font-size: 1.5rem;
  color: #fef4ebff;
  margin: 1rem 0;
}

.footer-text{
  font-family: "Roboto";
  font-size: 1rem;
  color: #fef4ebff;
  margin: 1rem 0;
}

.scroll-container {
  height: 50vh;
  margin: 4rem 12rem;
  min-height: 450px;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.scroll-container:nth-of-type(1) {
  background-color: #09c684;
}

.scroll-container:nth-of-type(2) {
  background-color: #09c684;
}
.scroll-container:nth-of-type(3) {
  background-color: #09c684;
}

.scroll-container:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.scroll-element {
  width: 30%;
  margin: 2rem;
  height: 100%;
}


.scroll-element img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.scroll-caption {
  margin: 5rem;
  width:70%;
}

.scroll-caption h2 {
  font-family: "Lilita One";
  font-size: 3rem;
  color: #fef4ebff;
  margin-bottom: 3rem;
}

.scroll-caption p {
  font-family: "Roboto";
  font-size: 1rem;
  color: #fef4ebff;
}


@media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

/* .scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
} */

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* @keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

