{% extends 'front_base.html.twig' %}
{% block title %}{{ 'title.home'|trans }}{% endblock %}
{% block body %}

<section class="scroll-container">
  <div class="scroll-element js-scroll fade-in">

  </div>
  <div class="scroll-caption">
    This animation fades in.
  </div>
</section>
<section class="scroll-container">
  <div class="scroll-element js-scroll fade-in-bottom">

  </div>
  <div class="scroll-caption">
    This animation slides in to the top.
  </div>
</section>
<section class="scroll-container">
  <div class="scroll-element js-scroll slide-left">

  </div>
  <div class="scroll-caption">
    This animation slides in from the left.
  </div>
</section>
<section class="scroll-container">
  <div class="scroll-element js-scroll slide-right">

  </div>
  <div class="scroll-caption">
    This animation slides in from the right.
  </div>
</section>

{% endblock %}