<!-- Footer -->
<footer class="text-center text-lg-start text-muted footer">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block c">
      <span class="footer-text">Suivez-nous sur les réseaux sociaux</span>
    </div>

    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-5 col-xl-9 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 footer-title">
            <i class="fas fa-gem me-3 text-secondary "></i>PLANTZ
          </h6>
          <p class="footer-text">
            Plantz est votre partenaire dévoué pour prendre soin de vos plantes d'intérieur 
            lorsque vous êtes en vacances. Notre équipe passionnée est composée d'experts en 
            jardinage qui veillent sur vos précieuses plantes avec amour et attention. Que ce 
            soit pour l'arrosage régulier, la fertilisation ou le bouturage, nous sommes là pour 
            leur offrir les meilleurs soins possibles. Profitez de vos voyages en toute sérénité 
            en sachant que vos plantes sont entre de bonnes mains. Faites confiance à Plantz et 
            découvrez une nouvelle façon de choyer vos plantes !
          </p>
        </div>
        {# <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 footer-title">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset footer-text">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset footer-text">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset footer-text">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset footer-text">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 footer-title">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset footer-text">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset footer-text">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset footer-text">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset footer-text">Help</a>
          </p>
        </div> #}
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 footer-title">Contact</h6>
          <p class="footer-text"><i class="fas fa-home me-3 text-secondary"></i> 5 Place Kléber, 67000 Strasbourg</p>
          <p class="footer-text">
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@plantz.fr
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 footer-text" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023:
    <a class="text-reset fw-bold footer-text footer-text" href="https://www.linkedin.com/in/thuyannhu/">Thuy An NHU</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->