<nav>
    <li class="">
        <a class="" href="#">ACCUEIL</a>
    </li>
    <li class="">
        <a class="" href="#">CONFIER MES PLANTES</a>
    </li>
    <li class="">
        <a class="" href="#">GUIDE</a>
    </li>
    <li class="">
        <a class="" href="#">CONTACT</a>
    </li>
</nav>