<nav>
    <h1 class ="logo" >PLANTZ</h1>

    <li class="">
        <a class="" href="#">ACCUEIL</a>
    </li>
    <li class="">
        <a class="" href="#">RESERVER</a>
    </li>
    <li class="">
        <a class="" href="#">GUIDE</a>
    </li>
    <li class="">
        <a class="" href="#">CONTACT</a>
    </li>
    <li class="">
        <a class="" href="#">CONNEXION</a>
    </li>
</nav>