
<nav class="navbar navbar-expand-lg bg-light m-0 navbar-admin" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">ACCUEIL
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("app_booking_index")}}">RESERVATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("app_booking_calendar")}}">CALENDRIER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("app_user_index")}}">CLIENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("app_greenhouse_index")}}">SERRE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>